<h1>ブログ一覧</h1>
<table>
  <tr>
    <%= link_to '新しくブログを投稿する', new_blog_path %>
    <th>タイトル</th>
    <th>内容</th>
  </tr>
<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
  </tr>
<% end %>
</table>